/* AccordionHeader.module.css */

.customAccordionHeader {
    position: relative;
    /* padding-right: 20px; */
  }
  
  .customAccordionHeader::after {
    content: ""; /* Hide the default arrow icon */
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: transparent transparent transparent transparent; /* Set all borders to transparent */
    transform: translateY(-50%);
    transition: border-color 0.2s; /* Add transition for a smooth effect */
  }

  .customAccordionHeader:hover::after {
    border-color: transparent transparent transparent #333; /* Only change the top border color on hover */
  }
  
  .checkboxLabel {
    display: 'flex';
    align-items: 'center';
    cursor: 'pointer';
  }

  .checkboxInput {
    margin-right: '10px';
  }

  .bottom {
    border-bottom: none;
  }
  .billtext{
    position: relative;
    left: 10px;
  }