.adlogo{
    width: 390.833px;
height: 100px;
flex-shrink: 0;
}
.border{
    border: 1px solid grey;
    text-align: center;
}
.border>p{
    font-size: 15px;
}
.background{
    background: var(--fcc-911, linear-gradient(90deg, #FBA807 0%, #FFC904 100%));
    width: 1548.137px;
height: 91.131px;
flex-shrink: 0;
}